@function rem($px) {
  @return $px / 16px * 1rem;
}
@function em($px) {
  @return $px / 16px * 1em;
}
// utility classes
body {
  background-color: #202124;
  color: white;

  .w100 { width: 100%; }
  .h100 { height: 100%; }
  .upcase { text-transform: uppercase; }
  .tcenter { text-align: center; }
  .tleft { text-align: left; }
  .tright { text-align: right; }
  .dnone { display: none; }
  .dblock { display: block; }
  .diblock { display: inline-block; }
  .flex1 { flex: 1; }
  .bold { font-weight: bold; }
  .fwnormal { font-weight: normal; }
  .relative { position: relative; }
  .oxh { overflow-x: hidden; }
  .oyh { overflow-y: hidden; }
  .grid { display: grid; }
  .cpointer { cursor: pointer; }
  .italic { font-style: italic; }
  .pen { pointer-events: none; }
  .pea { pointer-events: all; }
  .hidden { display: none !important; }
  .m0u { margin: 0 auto; }
  @for $i from 1 through 10 {
    .col#{$i} { grid-column: $i; }
  }

  @for $i from 100 through 1500 {
    @if $i % 100 == 0 {
      .m0u#{$i} { margin: 0 auto;
        max-width: $i * 1px; }
    }
  }
  @for $i from 50 through 150 {
    @if $i % 5 == 0 {
      .fs#{$i}p { font-size: $i / 100 * 1em; }
    }
  }
  @each $yPos in [top, bottom] {
    @each $xPos in [left, right] {
      .abs-#{$yPos}-#{$xPos} {
        position: absolute;
        #{$yPos}: 0;
        #{$xPos}: 0;
      }
    }
  }
}

.btn {
  border: 1px solid #ccc;
  padding: 4px 8px;
  cursor: pointer;
  color: #ccc;
  &:hover {
    border: 1px solid white;
    padding: 4px 8px;
    cursor: pointer;
    color: white;
  }
}

$justifyContent: (jc: center, jse: space-evenly, jsb: space-between, jfs: flex-start, jfe: flex-end);
$alignItems: (ac: center, as: stretch, ab: baseline, afs: flex-start, afe: flex-end);

body {
  @each $jcCode, $jcValue in $justifyContent {
    @each $aiCode, $aiValue in $alignItems {
      .flex-r-#{$jcCode}-#{$aiCode} {
        display: flex;
        flex-direction: row;
        justify-content: $jcValue;
        align-items: $aiValue;
      }
      .flex-c-#{$jcCode}-#{$aiCode} {
        display: flex;
        flex-direction: column;
        justify-content: $jcValue;
        align-items: $aiValue;
      }
    }
  }
}

@mixin declare-margin-and-padding($suffix, $i, $val) {
  body {
    $class: #{$i}#{$suffix};
    .m#{$class} { margin: $val; }
    .mx#{$class} { margin-left: $val;
      margin-right: $val; }
    .my#{$class} { margin-top: $val;
      margin-bottom: $val; }
    .mt#{$class} { margin-top: $val; }
    .mb#{$class} { margin-bottom: $val; }
    .ml#{$class} { margin-left: $val; }
    .mr#{$class} { margin-right: $val; }
    .p#{$class} { padding: $val; }
    .px#{$class} { padding-left: $val;
      padding-right: $val; }
    .py#{$class} { padding-top: $val;
      padding-bottom: $val; }
    .pt#{$class} { padding-top: $val; }
    .pb#{$class} { padding-bottom: $val; }
    .pl#{$class} { padding-left: $val; }
    .pr#{$class} { padding-right: $val; }
    .gx#{$class} { grid-column-gap: $val; }
    .gy#{$class} { grid-row-gap: $val; }
  }
}
@for $i from 0 through 20 {
  @include declare-margin-and-padding('', $i, $i * rem(8px));
}
@include declare-margin-and-padding('', 's', rem(4px));

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

%noselect {
  -webkit-touch-callout: none;
  user-select: none;
}

%canselect {
  -webkit-touch-callout: text;
  user-select: text;
}

// convenient mixin for BEM
//elements get appended with "__" and the $name
@mixin e($name) {
  @at-root #{&}__#{$name} {
    @content;
  }
}
//modifiers get appended with "--" and the $name
@mixin m($name) {
  @at-root #{&}--#{$name} {
    @content;
  }
}

@mixin color ($color) {
  color: $color;
  svg { fill: $color; }
}

@mixin hover-color ($color) {
  &:hover {
    @include color($color);
  }
}

@mixin resp-font-sizes($mobile, $desktop, $desktop-lg) {
  font-size: $desktop;
  @include mobile {
    font-size: $mobile;
  }
  @include desktop-lg {
    font-size: $desktop-lg;
  }
}

@mixin btn-style($fg, $bg) {
  color: $fg;
  background-color: $bg;
  border-color: lighten($bg, 5%);
  box-shadow: 1px 2px 2px rgba(lighten($bg, 5%), 0.5);

  &:hover {
    color: white;
    background-color: lighten($bg, 5%);
  }
}

[data-execute-step] {
  width: rem(90px);
}

[data-run-plan],
[data-execute-step] {
  &[state='running'] {
    color: #222;
    background-color: yellow;
  }
  &[state='passed'] {
    color: white;
    background-color: green;
  }
  &[state='failed'] {
    color: white;
    background-color: red;
  }
}
